* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body .diego{
  height: 100%;
  overflow-x: hidden;
}

header {
  position: static;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}

header .navbar-brand img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50px;
}

#section3 {
  min-height: 100vh;
}

#section3 img {
  z-index: 0;
}

#section3 .z-1 {
  z-index: 1;
}
.arrow {
  width: 60px;
  height: 60px;
  font-size: 24px;
}
